.selection {
  background-color: var(--lightblue);

  * {
    outline: none;
  }

  &-wrapper {
    @include breakpoint(xl) {
      display: grid;
      grid-template-columns: 33.3333% 58.3333%;
      grid-template-rows: 1fr;
      gap: 8.333%;

      > div:nth-child(2) {
        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-row-start: 1;
      }
    }
  }

  .brands {
    margin-bottom: 40px;

    @include breakpoint(xl) {
      margin-bottom: 0;
    }
  }

  .brands:not(.swiper-initialized) {
    > .swiper-wrapper {
      display: grid;

      /* autoprefixer: off */
      justify-content: space-between;
      grid-auto-flow: column;
      grid-template-columns: repeat(7, 121px);
      grid-template-rows: repeat(5, 117px);
      row-gap: 24px;

      @include breakpoint(xl) {
        grid-template-columns: repeat(5, 121px);
        grid-template-rows: repeat(7, 117px);
      }

      @include breakpoint(xxl) {
        grid-template-columns: repeat(7, 121px);
        grid-template-rows: repeat(5, 117px);
      }
    }
  }

  .badge {
    &-wrapper {
      display: flex;
      flex-direction: column;
    }

    &-img {
      display: inline-block;
      margin-bottom: 5px;
      border-radius: 12px;
      width: 121px;
      height: 72px;
      background-color: var(--light-color);

      img {
        width: 100%;
      }
    }

    &-text {
      p {
        margin: 0;
        font-size: 16px;
      }
    }
  }

  &-help {
    border-radius: 20px;
    padding: 23px 20px;
    width: 100%;
    max-width: 532px;
    color: var(--light-color);
    background-color: var(--black);

    &__text {
      font-size: 16px;
    }
  }
}
