<section class="banner">
  <div class="banner-bg">
    <picture>
      <source srcset="@@imgUrl.webp 1x, @@imgUrl_2x.webp 2x" type="image/webp" media="(min-width: 520px)">
      <source srcset="@@imgUrl.jpg 1x, @@imgUrl_2x.jpg 2x" type="image/jpeg" media="(min-width: 520px)">
      <source srcset="@@imgUrl-mobile.webp 1x, @@imgUrl-mobile_2x.webp 2x" type="image/webp" media="(min-width: 0px)">
      <source srcset="@@imgUrl-mobile.jpg 1x, @@imgUrl-mobile_2x.jpg 2x" type="image/jpeg" media="(min-width: 0px)">
      <img class="banner-img" srcset="@@imgUrl.jpg 1x, @@imgUrl_2x.jpg 2x" alt="">
    </picture>
  </div>
  <div class="container">
    <div class="banner-content col-12  col-sm-8 offset-sm-2 offset-md-6 col-md-7">
      <h2 class="section-title">
        @@title
      </h2>
      <p class="banner-text">
        @@text
      </p>
      <a href="#" class="btn btn--accent">
        @@btnText
      </a>
    </div>
  </div>
</section>