<section class="section catalog" id="catalog">
  <div class="container">
    <h2 class="section-title">
      Каталог авто
    </h2>
    <p class="section-text">
      В нашем сервисе более 1 500 авто.
      Мы проверяем качество, реставрируем и только после этого выставляем авто на продажу.
    </p>

    <div class="catalog-slider cars-slider">
      <div class="swiper-wrapper">

        <!-- Slide 1 -->
        <div class="swiper-slide">
          <div class="car-card">
            <div class="car-card__top relative">
              <div class="d-flex align-items-center car-card__top-stat">
                <picture>
                  <source srcset="img/car-badges-mini/solaris.webp 1x, img/car-badges-mini/solaris_2x.webp 2x"
                    type="image/webp">
                  <img srcset="img/car-badges-mini/solaris.png 1x, img/car-badges-mini/solaris_2x.png 2x" alt=""
                    class="car-card__top-brand">
                </picture>

                <div class="car-card__top-btns">
                  <a class="icon d-none d-md-inline-block" href="#">
                    <svg viewBox="0 0 24 24" fill="currentColor">
                      <use href="img/sprite.svg#rating" />
                    </svg>
                  </a>
                  <a class="icon" href="#">
                    <svg viewBox="0 0 42 43" fill="currentColor">
                      <use href="img/sprite.svg#heart" />
                    </svg>
                  </a>
                </div>
              </div>
              <picture>
                <source srcset="img/cars/1.webp 1x, img/cars/1_2x.webp 2x" type="image/webp">
                <img class="car-card__top-img" srcset="img/cars/1.jpg 1x, img/cars/1_2x.jpg 2x" alt="">
              </picture>

              <ul class="d-flex car-card__tags">
                <li class="car-card__tags-item">
                  Подарок
                </li>
                <li class="car-card__tags-item">
                  Трейд-ин
                </li>
                <li class="car-card__tags-item">
                  Рассрочка
                </li>
              </ul>
            </div>
            <div class="car-card__body">
              <h3 class="car-card__body-title">Hyunday Solaris</h3>
              <p class="car-card__body-spec">
                2015 г., 1.6 л, 123 л.c.
              </p>
              <ul class="d-flex flex-column car-card__info">
                <li class="d-flex car-card__info-item">
                  <div class="col-6 d-flex">
                    Класс<span></span>
                  </div>
                  <div class="col-6">
                    Седан
                  </div>
                </li>
                <li class="d-flex order-md-3 car-card__info-item">
                  <div class="col-6 d-flex">
                    Пробег<span></span>
                  </div>
                  <div class="col-6">11 200 км</div>
                </li>
                <li class="d-flex order-md-1 car-card__info-item">
                  <div class="col-6 d-flex">
                    Цвет<span></span>
                  </div>
                  <div class="col-6">Серый металик</div>
                </li>
              </ul>
              <div class="d-flex justify-content-between price-block">
                <div class="price-block__price">
                  <span class="price-block__label">
                    Стоимость от
                  </span>
                  <div class="d-flex price-block__wrapp">
                    <span class="price-block__actual">
                      434 000 ₽
                    </span>
                    <span class="d-flex align-items-center price-block__old">
                      534 000 ₽
                    </span>
                  </div>
                </div>
                <div class="price-block__credit">
                  <span class="price-block__label">
                    В кредит от
                  </span>
                  <div class="d-flex price-block__wrapp">
                    <span class="price-block__actual">
                      3 600 ₽
                    </span>
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn--grey btn--wide">
                Получить скидку
              </a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide">
          <div class="car-card">
            <div class="car-card__top relative">
              <div class="d-flex align-items-center car-card__top-stat">
                <picture>
                  <source srcset="img/car-badges-mini/kia.webp 1x, img/car-badges-mini/kia_2x.webp 2x"
                    type="image/webp">
                  <img srcset="img/car-badges-mini/kia.png 1x, img/car-badges-mini/kia_2x.png 2x" alt=""
                    class="car-card__top-brand">
                </picture>

                <div class="car-card__top-btns">
                  <a class="icon d-none d-md-inline-block" href="#">
                    <svg viewBox="0 0 24 24" fill="currentColor">
                      <use href="img/sprite.svg#rating" />
                    </svg>
                  </a>
                  <a class="icon" href="#">
                    <svg viewBox="0 0 42 43" fill="currentColor">
                      <use href="img/sprite.svg#heart" />
                    </svg>
                  </a>
                </div>
              </div>
              <picture>
                <source srcset="img/cars/2.webp 1x, img/cars/2_2x.webp 2x" type="image/webp">
                <img class="car-card__top-img" srcset="img/cars/2.jpg 1x, img/cars/2_2x.jpg 2x" alt="">
              </picture>

              <ul class="d-flex car-card__tags">
                <li class="car-card__tags-item">
                  Подарок
                </li>
                <li class="car-card__tags-item">
                  Трейд-ин
                </li>
                <li class="car-card__tags-item">
                  Рассрочка
                </li>
              </ul>
            </div>
            <div class="car-card__body">
              <h3 class="car-card__body-title">Kia RIO</h3>
              <p class="car-card__body-spec">
                2018 г., 1.6 л, 123л.с.
              </p>
              <ul class="d-flex flex-column car-card__info">
                <li class="d-flex car-card__info-item">
                  <div class="col-6 d-flex">
                    Класс<span></span>
                  </div>
                  <div class="col-6">
                    Седан
                  </div>
                </li>
                <li class="d-flex order-md-3 car-card__info-item">
                  <div class="col-6 d-flex">
                    Пробег<span></span>
                  </div>
                  <div class="col-6">20 400 км</div>
                </li>
                <li class="d-flex order-md-1 car-card__info-item">
                  <div class="col-6 d-flex">
                    Цвет<span></span>
                  </div>
                  <div class="col-6">Серый металик</div>
                </li>
              </ul>
              <div class="d-flex justify-content-between price-block">
                <div class="price-block__price">
                  <span class="price-block__label">
                    Стоимость от
                  </span>
                  <div class="d-flex price-block__wrapp">
                    <span class="price-block__actual">
                      610 000 ₽
                    </span>
                    <span class="d-flex align-items-center price-block__old">
                      534 000 ₽
                    </span>
                  </div>
                </div>
                <div class="price-block__credit">
                  <span class="price-block__label">
                    В кредит от
                  </span>
                  <div class="d-flex price-block__wrapp">
                    <span class="price-block__actual">
                      5 600 ₽
                    </span>
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn--grey btn--wide">
                Получить скидку
              </a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide">
          <div class="car-card">
            <div class="car-card__top relative">
              <div class="d-flex align-items-center car-card__top-stat">
                <picture>
                  <source srcset="img/car-badges-mini/ford.webp 1x, img/car-badges-mini/ford_2x.webp 2x"
                    type="image/webp">
                  <img srcset="img/car-badges-mini/ford.png 1x, img/car-badges-mini/ford_2x.png 2x" alt=""
                    class="car-card__top-brand">
                </picture>

                <div class="car-card__top-btns">
                  <a class="icon d-none d-md-inline-block" href="#">
                    <svg viewBox="0 0 24 24" fill="currentColor">
                      <use href="img/sprite.svg#rating" />
                    </svg>
                  </a>
                  <a class="icon" href="#">
                    <svg viewBox="0 0 42 43" fill="currentColor">
                      <use href="img/sprite.svg#heart" />
                    </svg>
                  </a>
                </div>
              </div>
              <picture>
                <source srcset="img/cars/3.webp 1x, img/cars/3_2x.webp 2x" type="image/webp">
                <img class="car-card__top-img" srcset="img/cars/3.jpg 1x, img/cars/3_2x.jpg 2x" alt="">
              </picture>

              <ul class="d-flex car-card__tags">
                <li class="car-card__tags-item">
                  Подарок
                </li>
                <li class="car-card__tags-item">
                  Трейд-ин
                </li>
                <li class="car-card__tags-item">
                  Рассрочка
                </li>
              </ul>
            </div>
            <div class="car-card__body">
              <h3 class="car-card__body-title">Ford FOCUS</h3>
              <p class="car-card__body-spec">
                2015 г., 1.6 л, 125л.с.
              </p>
              <ul class="d-flex flex-column car-card__info">
                <li class="d-flex car-card__info-item">
                  <div class="col-6 d-flex">
                    Класс<span></span>
                  </div>
                  <div class="col-6">
                    Седан
                  </div>
                </li>
                <li class="d-flex order-md-3 car-card__info-item">
                  <div class="col-6 d-flex">
                    Пробег<span></span>
                  </div>
                  <div class="col-6">11 200 км</div>
                </li>
                <li class="d-flex order-md-1 car-card__info-item">
                  <div class="col-6 d-flex">
                    Цвет<span></span>
                  </div>
                  <div class="col-6">Синий металик</div>
                </li>
              </ul>
              <div class="d-flex justify-content-between price-block">
                <div class="price-block__price">
                  <span class="price-block__label">
                    Стоимость от
                  </span>
                  <div class="d-flex price-block__wrapp">
                    <span class="price-block__actual">
                      300 000 ₽
                    </span>
                    <span class="d-flex align-items-center price-block__old">
                      434 000 ₽
                    </span>
                  </div>
                </div>
                <div class="price-block__credit">
                  <span class="price-block__label">
                    В кредит от
                  </span>
                  <div class="d-flex price-block__wrapp">
                    <span class="price-block__actual">
                      2 800 ₽
                    </span>
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn--grey btn--wide">
                Получить скидку
              </a>
            </div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="swiper-slide">
          <div class="car-card">
            <div class="car-card__top relative">
              <div class="d-flex align-items-center car-card__top-stat">
                <picture>
                  <source srcset="img/car-badges-mini/solaris.webp 1x, img/car-badges-mini/solaris_2x.webp 2x"
                    type="image/webp">
                  <img srcset="img/car-badges-mini/solaris.png 1x, img/car-badges-mini/solaris_2x.png 2x" alt=""
                    class="car-card__top-brand">
                </picture>

                <div class="car-card__top-btns">
                  <a class="icon d-none d-md-inline-block" href="#">
                    <svg viewBox="0 0 24 24" fill="currentColor">
                      <use href="img/sprite.svg#rating" />
                    </svg>
                  </a>
                  <a class="icon" href="#">
                    <svg viewBox="0 0 42 43" fill="currentColor">
                      <use href="img/sprite.svg#heart" />
                    </svg>
                  </a>
                </div>
              </div>
              <picture>
                <source srcset="img/cars/1.webp 1x, img/cars/1_2x.webp 2x" type="image/webp">
                <img class="car-card__top-img" srcset="img/cars/1.jpg 1x, img/cars/1_2x.jpg 2x" alt="">
              </picture>

              <ul class="d-flex car-card__tags">
                <li class="car-card__tags-item">
                  Подарок
                </li>
                <li class="car-card__tags-item">
                  Трейд-ин
                </li>
                <li class="car-card__tags-item">
                  Рассрочка
                </li>
              </ul>
            </div>
            <div class="car-card__body">
              <h3 class="car-card__body-title">Hyunday Solaris</h3>
              <p class="car-card__body-spec">
                2015 г., 1.6 л, 123 л.c.
              </p>
              <ul class="d-flex flex-column car-card__info">
                <li class="d-flex car-card__info-item">
                  <div class="col-6 d-flex">
                    Класс<span></span>
                  </div>
                  <div class="col-6">
                    Седан
                  </div>
                </li>
                <li class="d-flex order-md-3 car-card__info-item">
                  <div class="col-6 d-flex">
                    Пробег<span></span>
                  </div>
                  <div class="col-6">27 200 км</div>
                </li>
                <li class="d-flex order-md-1 car-card__info-item">
                  <div class="col-6 d-flex">
                    Цвет<span></span>
                  </div>
                  <div class="col-6">Серый металик</div>
                </li>
              </ul>
              <div class="d-flex justify-content-between price-block">
                <div class="price-block__price">
                  <span class="price-block__label">
                    Стоимость от
                  </span>
                  <div class="d-flex price-block__wrapp">
                    <span class="price-block__actual">
                      530 000 ₽
                    </span>
                    <span class="d-flex align-items-center price-block__old">
                      614 000 ₽
                    </span>
                  </div>
                </div>
                <div class="price-block__credit">
                  <span class="price-block__label">
                    В кредит от
                  </span>
                  <div class="d-flex price-block__wrapp">
                    <span class="price-block__actual">
                      5 600 ₽
                    </span>
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn--grey btn--wide">
                Получить скидку
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination cars-pagination catalog-pagination">

      </div>
    </div>

    <div class="col-12 d-md-none">
      <a href="#" class="show-more">
        Загрузить ещё
        <svg id="arrow-down" fill="currentColor" viewBox="0 0 24 25">
          <use href="img/sprite.svg#arrow-down">
        </svg>
      </a>
    </div>
  </div>
</section>