<section class="section feedback" id="feedbacks">
  <div class="container">
    <h2 class="section-title">
      Отзывы о ByCars
    </h2>

    <div class="feedback-slider">
      <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide">
          <div class="feedback-card">
            <div class="feedback-card__video">
              <picture>
                <source srcset="img/feedback/feedback-1.webp" type="image/webp">
                <img srcset="img/feedback/feedback-1.jpg" alt="">
              </picture>
              <a href="#" class="play">
                <svg viewBox="0 0 27 28" fill="currentColor">
                  <use href="img/sprite.svg#play" />
                </svg>
              </a>
            </div>
            <div class="feedback-card__body">
              <p class="feedback-card__body-text">
                Купила машину дешевле на 300 000 рублей и получила в подарок зимнюю резину. Понравилась цена и условия
                по беспроцентной рассрочке. Радуюсь покупке, за новым авто приду к вам!
              </p>
              <div class="feedback-card__body-info">
                <div class="info-item">
                  Авто:
                  <span>Lada Vesta Comfort</span>
                </div>
                <div class="info-item">
                  Покупатель:
                  <span>Ольга</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide">
          <div class="feedback-card">
            <div class="feedback-card__video">
              <picture>
                <source srcset="img/feedback/feedback-2.webp" type="image/webp">
                <img srcset="img/feedback/feedback-2.jpg" alt="">
              </picture>
              <a href="#" class="play">
                <svg viewBox="0 0 27 28" fill="currentColor">
                  <use href="img/sprite.svg#play" />
                </svg>
              </a>
            </div>
            <div class="feedback-card__body">
              <p class="feedback-card__body-text">
                Купил машину дешевле на 300 000 рублей и получил в подарок зимнюю резину. Понравилась цена и условия
                по беспроцентной рассрочке. Радуюсь покупке, за новым авто приду к вам!
              </p>
              <div class="feedback-card__body-info">
                <div class="info-item">
                  Авто:
                  <span>Lada Vesta Comfort</span>
                </div>
                <div class="info-item">
                  Покупатель:
                  <span>Денис</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide">
          <div class="feedback-card">
            <div class="feedback-card__video">
              <picture>
                <source srcset="img/feedback/feedback-1.webp" type="image/webp">
                <img srcset="img/feedback/feedback-1.jpg" alt="">
              </picture>
              <a href="#" class="play">
                <svg viewBox="0 0 27 28" fill="currentColor">
                  <use href="img/sprite.svg#play" />
                </svg>
              </a>
            </div>
            <div class="feedback-card__body">
              <p class="feedback-card__body-text">
                Купил машину дешевле на 300 000 рублей и получил в подарок зимнюю резину. Понравилась цена и условия
                по беспроцентной рассрочке. Радуюсь покупке, за новым авто приду к вам!
              </p>
              <div class="feedback-card__body-info">
                <div class="info-item">
                  Авто:
                  <span>Lada Vesta Comfort</span>
                </div>
                <div class="info-item">
                  Покупатель:
                  <span>Денис</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="swiper-slide">
          <div class="feedback-card">
            <div class="feedback-card__video">
              <picture>
                <source srcset="img/feedback/feedback-2.webp" type="image/webp">
                <img srcset="img/feedback/feedback-2.jpg" alt="">
              </picture>
              <a href="#" class="play">
                <svg viewBox="0 0 27 28" fill="currentColor">
                  <use href="img/sprite.svg#play" />
                </svg>
              </a>
            </div>
            <div class="feedback-card__body">
              <p class="feedback-card__body-text">
                Купила машину дешевле на 300 000 рублей и получила в подарок зимнюю резину. Понравилась цена и условия
                по беспроцентной рассрочке. Радуюсь покупке, за новым авто приду к вам!
              </p>
              <div class="feedback-card__body-info">
                <div class="info-item">
                  Авто:
                  <span>Lada Vesta Comfort</span>
                </div>
                <div class="info-item">
                  Покупатель:
                  <span>Денис</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="feedback-pagination d-flex justify-content-center"></div>
    </div>
  </div>
</section>