<header class="header">
  <div class="container">
    <div class="row">
      <div class="col col-lg col-xl-6 col-xxl-5">
        <div class="header-info d-flex justify-content-between align-items-center">
          <a href="#" class="d-flex flex-column header__logo">
            ByCars
            <span>авто с пробегом</span>
          </a>
          <a class="d-none d-lg-flex btn btn--accent btn--header" data-fancybox data-src="#modal">Обратный
            звонок</a>
          <div class="d-none d-xl-flex flex-column flex-shrink-0 header__contacts">
            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
            <span>
              г. Новосибирск, ул.&nbsp;Пушкина
            </span>
          </div>
        </div>
      </div>
      <div class="col col-lg offset-xxl-1 d-none d-xl-flex justify-content-end">
        <div class="d-flex align-items-center">
          <nav>
            <ul class="header__menu">
              <li>
                <a href="#catalog">Каталог</a>
              </li>
              <li>
                <a href="#services">Услуги</a>
              </li>
              <li>
                <a href="#feedbacks">Отзывы</a>
              </li>
              <li>
                <a href="#contacts">Контакты</a>
              </li>
              <li>
                <a href="#">Избранные</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col col-lg col-xl-1">
        <ul class="d-flex align-items-center justify-content-end header__icons">
          <li class="d-flex d-lg-none">
            <a data-fancybox data-src="#modal" class="d-flex d-lg-none align-items-center" style="color: var(--accent)">
              <svg viewBox="0 0 42 43" fill="currentColor">
                <use href="img/sprite.svg#call" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="d-flex align-items-center" style="color: var(--light-color)">
              <svg viewBox="0 0 42 43" fill="currentColor">
                <use href="img/sprite.svg#heart" />
              </svg>
            </a>
          </li>
          <li class="d-flex d-xl-none">
            <a href="#" id="burger" class="d-flex m-lg-auto align-items-center" style="color: var(--light-color)">
              <svg viewBox="0 0 42 43" fill="currentColor">
                <use href="img/sprite.svg#burger" />
              </svg>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="mobile-menu">
    <a class="close" id="close" href="#">
      <span>+</span>
    </a>
    <ul class="list">
      <li>
        <a href="#catalog">Каталог</a>
      </li>
      <li>
        <a href="#services">Услуги</a>
      </li>
      <li>
        <a href="#feedbacks">Отзывы</a>
      </li>
      <li>
        <a href="#contacts">Контакты</a>
      </li>
      <li>
        <a href="#">Избранные</a>
      </li>
    </ul>
  </div>
</header>