<section class="section selection">
  <div class="container">
    <div class="selection-wrapper">
      <div class="">
        <div class="selection-header">
          <h2 class="section-title">Подбор лучшего предложения</h2>
          <p class="text-paragraph">
            В нашем сервисе более 1 500 авто.
            Мы проверяем качество, реставрируем и только после этого выставляем авто на продажу.
          </p>
        </div>
      </div>
      <div class="brands-cell">
        <div class="brands">
          <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/1.webp 1x, img/car-badges/1_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/1.png 1x, img/car-badges/1_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Audi</p>
                  <p>(122)</p>
                </div>
              </div>
            </div>

            <!-- Slide 2 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/2.webp 1x, img/car-badges/2_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/2.png 1x, img/car-badges/2_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Citroen</p>
                  <p>(52)</p>
                </div>
              </div>
            </div>

            <!-- Slide 3 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/3.webp 1x, img/car-badges/3_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/3.png 1x, img/car-badges/3_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Hyundai</p>
                  <p>(352)</p>
                </div>
              </div>
            </div>

            <!-- Slide 4 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/4.webp 1x, img/car-badges/4_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/4.png 1x, img/car-badges/4_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Mercedes-Benz</p>
                  <p>(100)</p>
                </div>
              </div>
            </div>

            <!-- Slide 5 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/5.webp 1x, img/car-badges/5_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/5.png 1x, img/car-badges/5_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Skoda</p>
                  <p>(56)</p>
                </div>
              </div>
            </div>

            <!-- Slide 6 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/6.webp 1x, img/car-badges/6_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/6.png 1x, img/car-badges/6_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>BMW</p>
                  <p>(24)</p>
                </div>
              </div>
            </div>

            <!-- Slide 7 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/7.webp 1x, img/car-badges/7_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/7.png 1x, img/car-badges/7_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Datsun</p>
                  <p>(24)</p>
                </div>
              </div>
            </div>

            <!-- Slide 8 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/8.webp 1x, img/car-badges/8_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/8.png 1x, img/car-badges/8_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>JAC</p>
                  <p>(14)</p>
                </div>
              </div>
            </div>

            <!-- Slide 9 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/9.webp 1x, img/car-badges/9_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/9.png 1x, img/car-badges/9_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Mitsubishi</p>
                  <p>(21)</p>
                </div>
              </div>
            </div>

            <!-- Slide 10 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/10.webp 1x, img/car-badges/10_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/10.png 1x, img/car-badges/10_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>SsangYong</p>
                  <p>(231)</p>
                </div>
              </div>
            </div>

            <!-- Slide 11 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/11.webp 1x, img/car-badges/11_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/11.png 1x, img/car-badges/11_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Cadillac</p>
                  <p>(2)</p>
                </div>
              </div>
            </div>

            <!-- Slide 12 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/12.webp 1x, img/car-badges/12_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/12.png 1x, img/car-badges/12_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Ford</p>
                  <p>(442)</p>
                </div>
              </div>
            </div>

            <!-- Slide 13 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/13.webp 1x, img/car-badges/13_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/13.png 1x, img/car-badges/13_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Kia</p>
                  <p>(253)</p>
                </div>
              </div>
            </div>

            <!-- Slide 14 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/14.webp 1x, img/car-badges/14_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/14.png 1x, img/car-badges/14_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Nissan</p>
                  <p>(87)</p>
                </div>
              </div>
            </div>

            <!-- Slide 15 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/15.webp 1x, img/car-badges/15_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/15.png 1x, img/car-badges/15_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Suzuki</p>
                  <p>(55)</p>
                </div>
              </div>
            </div>

            <!-- Slide 16 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/16.webp 1x, img/car-badges/16_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/16.png 1x, img/car-badges/16_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Changan</p>
                  <p>(48)</p>
                </div>
              </div>
            </div>

            <!-- Slide 17 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/17.webp 1x, img/car-badges/17_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/17.png 1x, img/car-badges/17_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Geely</p>
                  <p>(200)</p>
                </div>
              </div>
            </div>

            <!-- Slide 18 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/18.webp 1x, img/car-badges/18_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/18.png 1x, img/car-badges/18_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Lada</p>
                  <p>(500)</p>
                </div>
              </div>
            </div>

            <!-- Slide 19 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/19.webp 1x, img/car-badges/19_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/19.png 1x, img/car-badges/19_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Opel</p>
                  <p>(300)</p>
                </div>
              </div>
            </div>

            <!-- Slide 20 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/20.webp 1x, img/car-badges/20_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/20.png 1x, img/car-badges/20_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Toyota</p>
                  <p>(147)</p>
                </div>
              </div>
            </div>

            <!-- Slide 21 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/21.webp 1x, img/car-badges/21_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/21.png 1x, img/car-badges/21_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Chery</p>
                  <p>(32)</p>
                </div>
              </div>
            </div>

            <!-- Slide 22 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/22.webp 1x, img/car-badges/22_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/22.png 1x, img/car-badges/22_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Great Well</p>
                  <p>(89)</p>
                </div>
              </div>
            </div>

            <!-- Slide 23 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/23.webp 1x, img/car-badges/23_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/23.png 1x, img/car-badges/23_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Land Rover</p>
                  <p>(12)</p>
                </div>
              </div>
            </div>

            <!-- Slide 24 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/24.webp 1x, img/car-badges/24_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/24.png 1x, img/car-badges/24_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Peugeot</p>
                  <p>(32)</p>
                </div>
              </div>
            </div>

            <!-- Slide 25 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/25.webp 1x, img/car-badges/25_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/25.png 1x, img/car-badges/25_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Volkswagen</p>
                  <p>(51)</p>
                </div>
              </div>
            </div>

            <!-- Slide 26 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/26.webp 1x, img/car-badges/26_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/26.png 1x, img/car-badges/26_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Chevrolet</p>
                  <p>(220)</p>
                </div>
              </div>
            </div>

            <!-- Slide 27 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/27.webp 1x, img/car-badges/27_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/27.png 1x, img/car-badges/27_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Haval</p>
                  <p>(352)</p>
                </div>
              </div>
            </div>

            <!-- Slide 28 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/28.webp 1x, img/car-badges/28_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/28.png 1x, img/car-badges/28_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Lifan</p>
                  <p>(12)</p>
                </div>
              </div>
            </div>

            <!-- Slide 29 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/29.webp 1x, img/car-badges/29_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/29.png 1x, img/car-badges/29_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Ravon</p>
                  <p>(74)</p>
                </div>
              </div>
            </div>

            <!-- Slide 30 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/30.webp 1x, img/car-badges/30_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/30.png 1x, img/car-badges/30_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Volvo</p>
                  <p>(32)</p>
                </div>
              </div>
            </div>

            <!-- Slide 31 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/31.webp 1x, img/car-badges/31_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/31.png 1x, img/car-badges/31_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Chrysler</p>
                  <p>(10)</p>
                </div>
              </div>
            </div>

            <!-- Slide 32 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/32.webp 1x, img/car-badges/32_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/32.png 1x, img/car-badges/32_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Honda</p>
                  <p>(32)</p>
                </div>
              </div>
            </div>

            <!-- Slide 33 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/33.webp 1x, img/car-badges/33_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/33.png 1x, img/car-badges/33_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Mazda</p>
                  <p>(569)</p>
                </div>
              </div>
            </div>

            <!-- Slide 34 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/34.webp 1x, img/car-badges/34_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/34.png 1x, img/car-badges/34_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>Renault</p>
                  <p>(247)</p>
                </div>
              </div>
            </div>

            <!-- Slide 35 -->
            <div class="swiper-slide">
              <div class="badge-wrapper">
                <div class="badge-img">
                  <picture>
                    <source srcset="img/car-badges/35.webp 1x, img/car-badges/35_2x.webp 2x" type="image/webp">
                    <img srcset="img/car-badges/35.png 1x, img/car-badges/35_2x.png 2x" alt="">
                  </picture>
                </div>
                <div class="badge-text">
                  <p>УАЗ</p>
                  <p>(74)</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="">
        <div class="selection-help">
          <h3 class="section-help__title">
            Нужна помощь с выбором?
          </h3>
          <p class="text-paragraph selection-help__text">
            Подберем автомобиль по характеристикам и цене. Посчитаем самый выгодный вариант и проверим все нюансы
            за вас.
          </p>
          <a href="#" class="btn btn--accent">Подобрать авто</a>
        </div>
      </div>
    </div>
  </div>
</section>