<section class="section services" id="services">
  <div class="container">
    <h2 class="section-title">
      Услуги автосалона
    </h2>
    <p class="section-text">
      В нашем сервисе более 1 500 авто.
      Мы проверяем качество, реставрируем и только после этого выставляем авто на продажу.
    </p>

    <div class="services-items">
      <div class="services__item">
        <div class="services__item-img">
          <picture>
            <source srcset="img/cards.webp 1x, img/cards_2x.png 2x" type="image/webp">
            <img srcset="img/cards.png 1x, img/cards_2x.png 2x" alt="">
          </picture>
        </div>

        <h3 class="services__item-title">
          Автокредитование
        </h3>
        <p class="services__item-text">
          Купите автомобиль без нанесения значительного урона бюджету семьи
        </p>
        <a href="#" class="services__item-link">
          Подробнее
          <svg fill="currentColor" viewBox="0 0 17 17">
            <use href="img/sprite.svg#arrow_outward">
          </svg>
        </a>
      </div>

      <div class="services__item">
        <div class="services__item-img">
          <picture>
            <source srcset="img/wheel.webp 1x, img/wheel_2x.png 2x" type="image/webp">
            <img srcset="img/wheel.png 1x, img/wheel_2x.png 2x" alt="">
          </picture>
        </div>

        <h3 class="services__item-title">
          Обмен авто
        </h3>
        <p class="services__item-text">
          Получи желаемый автомобиль с&nbsp;приличной скидкой.
        </p>
        <a href="#" class="services__item-link">
          Подробнее
          <svg fill="currentColor" viewBox="0 0 17 17">
            <use href="img/sprite.svg#arrow_outward">
          </svg>
        </a>
      </div>

      <div class="services__item">
        <div class="services__item-img">
          <picture>
            <source srcset="img/key.webp 1x, img/key_2x.png 2x" type="image/webp">
            <img srcset="img/key.png 1x, img/key_2x.png 2x" alt="">
          </picture>
        </div>

        <h3 class="services__item-title">
          Подбор авто
        </h3>
        <p class="services__item-text">
          Помогает клиенту сэкономить время при покупке машины.
        </p>
        <a href="#" class="services__item-link">
          Подробнее
          <svg fill="currentColor" viewBox="0 0 17 17">
            <use href="img/sprite.svg#arrow_outward">
          </svg>
        </a>
      </div>

      <div class="services__item">
        <div class="services__item-img">
          <picture>
            <source srcset="img/wallet.webp 1x, img/wallet_2x.png 2x" type="image/webp">
            <img srcset="img/wallet.png 1x, img/kwallet2x.png 2x" alt="">
          </picture>
        </div>

        <h3 class="services__item-title">
          Срочный выкуп
        </h3>
        <p class="services__item-text">
          Продайте авто максимально выгодно с прозрачными условиями
        </p>
        <a href="#" class="services__item-link">
          Подробнее
          <svg fill="currentColor" viewBox="0 0 17 17">
            <use href="img/sprite.svg#arrow_outward">
          </svg>
        </a>
      </div>

    </div>
  </div>
</section>