<section class="top">
  <div class="swiper top-slider">
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide">
        <div class="slide">
          <picture>
            <source srcset="img/top/slide-1.jpg 1x, img/top/slide-1_2x.jpg 2x" media="(min-width: 500px)" type="
              image/jpeg">
            <source srcset="img/top/slide-1-mobile.webp 1x, img/top/slide-1-mobile_2x.webp 2x"
              media="(min-width: 320px)" type="image/webp">
            <source srcset="img/top/slide-1-mobile.jpg 1x, img/top/slide-1-mobile_2x.jpg 2x" media="(min-width: 320px)"
              type="image/jpg">
            <img src="img/top/slide-1-mobile.jpg" alt="">
          </picture>

          <div class="container">
            <div class="slide-content d-flex flex-column justify-content-between">
              <h2 class="section-title">Распродажа склада!</h2>
              <p class="text-paragraph">Подберите автомобиль со скидкой, акция суммируется с&nbsp;предложениями Trade-In
                и Кредитом</p>

              <a href="#" class="btn btn--accent btn--top">Подобрать авто</a>
              <div class="top-benefits d-flex justify-content-between">
                <span>Скидка до 20%</span>
                <span>Trade-In</span>
                <span>Кредит 12%</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="swiper-slide">
        <div class="slide">
          <picture>
            <source srcset="img/top/slide-1.jpg 1x, img/top/slide-1_2x.jpg 2x" media="(min-width: 500px)" type="
              image/jpeg">
            <source srcset="img/top/slide-1-mobile.webp 1x, img/top/slide-1-mobile_2x.webp 2x"
              media="(min-width: 320px)" type="image/webp">
            <source srcset="img/top/slide-1-mobile.jpg 1x, img/top/slide-1-mobile_2x.jpg 2x" media="(min-width: 320px)"
              type="image/jpg">
            <img src="img/top/slide-1-mobile.jpg" alt="">
          </picture>

          <div class="container">
            <div class="slide-content d-flex flex-column justify-content-between">
              <h2 class="section-title">Складирование распродаж!</h2>
              <p class="text-paragraph">Подберите автомобиль со скидкой, акция суммируется с&nbsp;предложениями Trade-In
                и Кредитом</p>

              <a href="" class="btn btn--accent btn--top">Подобрать авто</a>
              <div class="top-benefits d-flex justify-content-between">
                <span>Скидка до 20%</span>
                <span>Trade-In</span>
                <span>Кредит 12%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="swiper-slide">
        <div class="slide">
          <picture>
            <source srcset="img/top/slide-1.jpg 1x, img/top/slide-1_2x.jpg 2x" media="(min-width: 500px)" type="
              image/jpeg">
            <source srcset="img/top/slide-1-mobile.webp 1x, img/top/slide-1-mobile_2x.webp 2x"
              media="(min-width: 320px)" type="image/webp">
            <source srcset="img/top/slide-1-mobile.jpg 1x, img/top/slide-1-mobile_2x.jpg 2x" media="(min-width: 320px)"
              type="image/jpg">
            <img src="img/top/slide-1-mobile.jpg" alt="">
          </picture>

          <div class="container">
            <div class="slide-content d-flex flex-column justify-content-between">
              <h2 class="section-title">Распродажа распродаж!</h2>
              <p class="text-paragraph">Подберите автомобиль со скидкой, акция суммируется с&nbsp;предложениями Trade-In
                и Кредитом</p>

              <a href="#" class="btn btn--accent btn--top">Подобрать авто</a>
              <div class="top-benefits d-flex justify-content-between">
                <span>Скидка до 20%</span>
                <span>Trade-In</span>
                <span>Кредит 12%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container relative">
    <div
      class="swiper-pagination swiper-pagination--top d-flex justify-content-center flex-md-column justify-content-md-center align-items-md-center">
    </div>
  </div>
</section>